.App {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #fbeaf4;
  color: rgb(121, 8, 138);
  padding: 20px;
  text-align: center;
}

.App-main {
  max-width: 800px;
  margin: 20px auto; /* Centre le contenu principal */
  padding: 20px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.App-footer {
  text-align: center;
  padding: 10px;
  background-color: #fbeaf4;
  color: rgb(121, 8, 138);
  margin-top: 20px;
}