.lp-banner {
	color: rgb(12, 229, 200);
	text-align: right;
	padding: 32px;
	border-bottom: solid 3px rgb(202, 18, 190);
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.lmj-title {
	padding-left: 32px;
}

.lp-logo {
	height: 200px;
	width: 200px;
}